html {
  scroll-behavior: smooth;
}
a {
  color: white;
  text-decoration: none;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin:0;
  padding: 0; 
}
.main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.container {
  height: 100vh;;
  scroll-snap-align: start; 

}
.box-section {
  height: 100vh;;
  scroll-snap-align: start;  
}
p{
  margin: 0;
}
ul{
  margin: 0;
  color: white;
  list-style: none;
  display: flex;
  justify-content: center;
  height: 50px;
}
li{
 margin-right: 50px;
 width: 50px;
 padding-right:0px; 
}
li:first-child{
  font-size: 32px ;
  color: black;
  font-weight: bold;
  align-items: start;
  margin-right:auto;
}
li:hover{
  color: rgb(197, 197, 197);
  cursor: pointer;
}
li:active{
  color: rgb(163, 163, 169);
}
.text{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color:rgb(10, 3, 3);
}
.heading{
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  margin-bottom:12px;
 
}
.save{
  font-size: 44px;
  text-align: center;
  font-weight: BOLD;
  margin-bottom: 12px;
 
}
.mother{
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}
.background{
  margin: 0;
  background-image: url(images/background.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.container{
  
  overflow: hidden;
  height:100vh;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

}
.about{
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 18px;
  color: gray;
  font-weight: bold;
  cursor: pointer;
}
.join{
  border: none;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 18px;
  font-weight: bold;
  background-color: rgb(82, 239, 82);
  color: lightgray;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 2s;
}
.join:hover{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.about:hover{
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.join:active,.about:active{
  opacity: 0.85;
}
.box-section {
  display: inline-block;
  margin: 0;
  background-image: url(images/forest.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.box-container {
  width: 70%;
  height: 70vh;
  position: relative;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  grid-gap: 50px;
}
.box-section-title {
  align-self: center;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.7em;

}
.box {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  background-color: rgb(245, 215, 215);
  display: grid;
  grid-template-rows: 30% 20% 50%;
  transition: transform .3s;
  transition: box-shadow .3s;
  cursor: pointer;

}
.box:hover {
  transform: scale(1.3);
  box-shadow: 5px 5px 10px;
}
.icon {
display: flex;
align-items: center;
justify-content: center;
}
.icon-img {
  width: 50px;
  height: 50px;
}
.icon-name {
  text-align: center;
  font-size: 1.3em;
  color: rgb(112, 112, 57);
}
.icon-description {
  text-align: center;
  padding: 0 5px 0 5px;
}